<!doctype html>
<html lang="vi">
<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Trang demo CSDL đa phương tiện</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</head>
<body>

<div class="container">
<h2 class="text-info" style="margin-bottom: 50px;">Demo</h2>
<form method="post" action="/" enctype="multipart/form-data">
    <div>
		<p>
			<input type="file" name="file" autocomplete="off" required class="form-control btn">
		</p>
    </div>
    <div class = "row">
		<div class = "col-sm-6"></div>
		<div class="col-sm-2">
			<input type="submit" value="Submit" class="form-control  btn-success">
		</div>

	</div>
</form>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<div class="container-fluid">
<div class="row">
{% for filename in filenames %}
{% if filename%}
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
		<p>{{filename}}</p>
		<div>
		<img src="{{ url_for('display_image', directory=directory,filename=filename)}}" alt = "eror" width="400px" height="400px">
		</div>
	</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
</body>
</html>